{% extends 'base.html.twig' %}

{% block title %}Products catalog{% endblock %}

{% block body %}

<h1>Products catalog</h1>

<ul class="products">
    {% for product in products %}
        <li class="product">
            <div class="product-name">{{ product.name }}</div>
            <div class="product-description">{{ product.description }}</div>
            <div class="product-price">{{ product.price }} USD</div>

            <form action="{{ path('add_to_cart') }}" class="order-it" method="post">
                <input name="product-id" type="hidden" value="{{ product.id }}">
                <input type="number" name="product-quantity" value="1" min="1">
                <button type="submit">Add to cart</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
